@charset "utf-8";
.kapsayici
    {
		border:solid;
		background-color:#333;
		width:1330px;
		height:920px;
		margin-left:300px;
		margin-top:20px;
	}

.ust
	{
		float:left;
		border:solid;
		background-color:#666;
		width:200px;
		height:660px;
		margin-left:20px;
		margin-top:240px;
	}

.iframe1
	{
		float:left;
		width:1060px;
		height:660px;
		margin-left:20px;
		margin-top:240px;
	}	

.button1
    {
  		background-color:#003;
  		border:solid;
        width:150px;
		height:20px;
 		text-align: center;
 		text-decoration: none;
 		display: inline-block;
 		font-size:20px;
		margin-left:10px;
		padding:15px 13px ;
		margin:20px 10px;
     }
.button2
    {
  		background-color:#003;
  		border:solid;
        width:150px;
		height:20px;
 		text-align: center;
 		text-decoration: none;
 		display: inline-block;
 		font-size:20px;
		margin-left:10px;
		padding:15px 13px ;
		margin:-10px 10px;
     }
